.form-wrap{
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.form-width{
    width: 400px; 
}

.btn-flex{
    display: flex;
    justify-content: center;
}

.btn-submit{
    border: 1px solid #000;
    width: 120px;
}



@media only screen and (min-width: 320px) and (max-width: 1080px){
    .form-wrap{
        width: 260px;
        flex-direction: column;
        
    }
    .form-width{
        width: 260px;
    }
    .btn-submit{
        height: 35px;
        margin-bottom: 5px;
        background: whitesmoke;
        border: 1px solid #000;
    }
  }