.button {
  width: 220px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 70px;
  background: cornsilk;
  color: black;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
}

.button:hover {
  background: #ffeb00;
  transform: scale(1.1);
  transition: 0.5s;
  color: black;
  border: none;
}

@media only screen and (max-width: 320px) {
  .button {
  
    margin-bottom: 10px;
  
  }
}
