.main-cont {
  width: 100%;
}

.main-cont_wrap {
  width: 100%;
  height: 89.7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../../assets/image/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cont-with-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-main-cont {
  width: 1170px;
  height: 120px;
  margin-bottom: 50px;
}
.title-main-font {
  background: cornsilk;
  font-size: 2.5rem;
  font-family: "Frank Ruhl Libre", serif;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 2px;
  color: black;
  border-radius: 100px;
}

.sub-title-main-cont {
  margin-bottom: 25px;
}
.sub-title {
  text-align: center;
  font-size: 1.9rem;
  background: cornsilk;
  color: black;
  border-radius: 100px;
  padding: 15px;
}


.desc-main-cont {
  width: 1170px;
  height: 120px;
  margin-top: 30px;
}
.desc-main {
  border-radius: 50px;
  background: cornsilk;
  color: black;
  font-size: 23px;
  text-align: center;
}

.btn-submit-main {
  background: black;
}

@media only screen and (max-width: 320px) {
  .main-cont_wrap {
  
    height: 805px;
   
  }
  .sub-title {
    font-size: 1.2rem;
  }
  .sub-title-main-cont {
    width: 280px;
    margin-top: 10px;
  }
  .title-main-font {
    font-size: 1.3rem;
    padding: 15px;
  }
  .title-main-cont {
    width: 280px;
  }
  .cont-with-button {
    display: flex;
    flex-direction: column;
  }
  .desc-main {
    font-size: 1.2rem;
  }
  .desc-main-cont {
    display: none;
  }
}
